.bg-menu {
background-color:transparent;
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
position:relative;
margin-bottom:0;
border-color:transparent;
position:absolute;
left:300px
}

.bg-menu .navbar-header {
padding-right:11px
}

.bg-menu + .container-2 {
margin-top:0
}

.bg-menu:before {
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.5)
}

.bg-menu .navbar-nav>li>a,.bg-menu .navbar-nav>li>a:focus,.bg-menu .navbar-nav>li>a:hover {
color:#fff!important
}

.navbar-inverse.bg-menu .navbar-nav > .active > a {
color:#fff!important
}

.bg-menu .form-control {
border:1px solid #fff!important;
background-color:transparent;
color:#fff;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
font-weight:200
}

.bg-menu .form-control:focus {
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,255,.6);
box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,255,.6)
}

.bg-menu .select-block {
font-size:14px
}

.bg-menu .form-control::-webkit-input-placeholder {
color:#fff;
font-weight:200
}

.bg-menu .navbar-collapse.collapse {
border-color:#fff!important
}

.bg-menu .form-control::-moz-placeholder {
color:#fff;
font-weight:200
}

.bg-menu .form-control:-moz-placeholder {
color:#fff;
font-weight:200
}

.bg-menu .form-control:-ms-input-placeholder {
color:#fff;
font-weight:200
}

.form-control:focus {
border-color:#e7c17f
}

.icon-search {
display:inline-block;
width:20px;
height:20px;
background-image:url(../images/element-white.png);
background-color:transparent;
border:none;
position:absolute;
top:12px;
right:15px;
background-repeat:no-repeat;
outline:none
}

.bg-menu a.login:hover,a.login:active {
background-color:#c19663;
padding:0 19px;
border-bottom-color:#c19663;
color:#fff
}

.select-block {
padding-left:9px
}

.select-style {
background:url(../images/arrow-select.png) no-repeat;
background-repeat:no-repeat;
overflow:hidden;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
margin-bottom:20px;
background-color:#fff;
display:inline-block;
vertical-align:middle;
width:100%;
background-position:calc(100% - 16px) 23px
}

.select-style select {
background:transparent;
line-height:1;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
-webkit-appearance:none;
border:none;
height:inherit;
color:#3c434d!important;
font-weight:100;
padding:17px 18px;
border:2px solid #d4d6d9
}

.select-style select::-ms-expand {
display:none
}

.adress-rest {
color:#fff;
font-size:20px;
display:inline-block;
vertical-align:middle;
margin-top:4px;
padding-right:20px
}

.phone-rest {
color:#c19663;
font-weight:600;
margin-bottom:0;
line-height:15px
}

.block-right__div {
display:inline-block;
vertical-align:top;
text-align:right
}

@media (max-width: 1520px) {
.bg-menu .navbar-toggle {
border-color:transparent!important;
background-color:transparent
}

.bg-menu .navbar-toggle:focus,.bg-menu .navbar-toggle:hover {
background-color:transparent
}

.bg-menu .navbar-header {
padding-right:0
}

.navbar-collapse.collapse {
border-color:#fff!important
}
}

@media (max-width: 844px) {
.adress-rest {
display:block;
margin-bottom:30px;
padding-right:0
}

.select-style {
background-position:calc(100% - 16px) 19px
}

.nav-tabs>li>a {
font-size:18px
}
}