body {
font-weight:200;
line-height:25px
}

header {
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
padding:15px 0 0;
background-image:url(/css/clients/images/bg-header.png);
position:relative;
color:#fff;
font-size:14px
}

.page4 {
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
padding:59px 0;
background-image:url(/css/clients/images/bg-download.png);
background-repeat:no-repeat;
background-size:cover;
color:#fff
}

.logo-cabinet {
width:100%;
max-width:171px;
height:auto;
margin:19px auto 37px
}

.nav-panel,.nav-filter {
list-style-type:none;
padding-left:0
}

.nav-cabinet {
text-align:left;
font-size:16px;
margin-bottom:0
}

.nav-sub .nav-cabinet {
font-size:14px
}

.nav-panel li,.nav-filter li {
display:inline-block;
padding:10px 8px
}

.nav-filter {
margin-bottom:2px
}

.nav-filter li {
padding:0 8px
}

.select-text {
padding-top:10px
}

.nav-cabinet li {
border-bottom:4px solid transparent;
padding-bottom:6px
}

.nav-cabinet li.active {
border-bottom:4px solid #d08400
}

.nav-panel li:first-child,.nav-filter li:first-child {
padding-left:0
}

.nav-panel li a {
color:#fff
}

.nav-filter li a {
color:#000
}

.nav-header li.active a,.nav-filter li.active a,a.restaurant-name,.h2-30 span,.cost-review {
color:#d08400
}

.name-user {
font-size:20px;
display:inline-block;
vertical-align:middle
}

.panel-user {
padding-top:9px;
position:relative
}

.page-content h2 {
font-weight:400;
margin-bottom:7px
}

.h2-30 {
font-size:30px
}

a.btn-line {
    font-size:20px;
    border:1px solid #d08400;
    padding:10px 48px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    color:#000;
    font-weight:400;
    display:table;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}

button.btn-line {
    font-size:20px;
    border:1px solid #d08400;
    padding:10px 48px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    color:#000;
    font-weight:400;
    display:table;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    background-color: white;
}

.nav-sub {
background-color:#293241
}

.nav-sub .nav-panel li {
padding:8px 8px 3px
}

.nav-sub .w-main {
position:relative
}

.cost-review,a.pluso {
font-weight:400
}

a.pluso {
font-size:65px;
background-color:#d08400;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
color:#fff;
position:absolute;
right:0;
line-height:.9;
padding:12px 16px 0;
top:0;
-webkit-transition:.3s;
-o-transition:.3s;
transition:.3s
}

a.pluso:hover {
background-color:#fa5a10;
-webkit-transition:.3s;
-o-transition:.3s;
transition:.3s
}

.page-content {
margin-top:25px;
padding-bottom:5px
}

.filter-block {
margin-top:11px;
margin-bottom:31px
}

.block-review p {
margin-bottom:14px
}

p.cost-review {
margin-bottom:22px;
font-size:20px
}

.block-review {
margin-bottom:30px
}

.navbar-user > li > a .icon-email {
background:url(/css/clients/images/icon-email.png) no-repeat;
width:19px;
height:13px;
margin-top:8px
}

.navbar-user > li > a .push-email {
background-color:#75a74d;
width:16px;
height:16px;
position:absolute;
top:-11px;
right:-8px;
border-radius:50%;
color:#fff;
text-align:center;
line-height:18px;
font-size:10.7px
}

.navbar-user > li > a .icon-notices {
background:url(/css/clients/images/icon-notices.png) no-repeat;
width:18px;
height:20px;
margin-top:6px
}

.navbar-user > li > a .push-notices {
background-color:red;
width:16px;
height:16px;
position:absolute;
top:-7px;
right:-8px;
border-radius:50%;
color:#fff;
text-align:center;
line-height:18px;
font-size:10.7px
}

.navbar-user>li>a {
padding:0;
display:block;
margin:0 27px 0 -10px;
color:#fff;
font-size:20px;
font-weight:200;
background-color:transparent!important
}

.navbar-user {
margin-right:0
}

.navbar-user>li>a:hover {
border-bottom:none
}

.thumbnail-middle {
position:relative;
overflow:hidden;
border-radius:100%;
-moz-border-radius:100%;
-webkit-border-radius:100%;
margin-right:7px;
margin-top:-8px;
display:inline-block;
vertical-align:middle
}

.thumbnail-middle img {
position:absolute;
left:50%;
top:50%;
object-fit:cover!important;
-webkit-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%)
}

.thumbnail-middle,.thumbnail-middle img {
width:33px;
height:33px
}

@media (min-width: 1200px) {
.container,.w-main {
max-width:1170px!important
}
}

@media (max-width: 1220px) {
.navbar-user {
float:right!important
}
}

@media (max-width: 1000px) {
.menu-up .col-md-4 {
width:100%;
text-align:center
}

.navbar-user {
float:none!important;
display:table;
margin:0 auto;
padding-left:15px
}

.logo-cabinet {
max-width:100px
}

.menu-up {
border-bottom:1px solid #fff;
padding-bottom:20px
}

header {
font-size:18px
}

.nav-header li {
width:32.333333333%;
padding:0 0 10px
}

.nav-header {
border-bottom:1px solid #fff
}
}

@media (max-width: 767px) {
.navbar-nav>li {
float:left
}
}

@media (max-width: 544px) {
a.btn-line {
display:block;
text-align:center;
padding:10px 0
}

a.pluso {
position:absolute;
top:inherit;
right:inherit;
left:8px;
bottom:-86px
}

.page-content {
margin-top:100px
}

.navbar-user>li {
float:none;
width:34px;
text-align:center;
display:inline-block;
margin:0 auto;
vertical-align:middle
}

.navbar-user>li:last-child {
display:block;
width:inherit;
margin-top:12px
}

.navbar-user>li>a {
margin:0
}

.navbar-user > li > a .push-email,.navbar-user > li > a .push-notices {
right:9px
}
}

@media (max-width: 500px) {
.nav-header li {
width:100%
}
}

.form-horizontal {
    padding: 0 10px;
}


.load-photo {
    background-color:transparent;
    width:100%;
    text-align:left;
    padding:12.5px 18px;
    border:2px solid #d4d6d9;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    font-size:16px;
    font-weight:200;
    resize:none;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    position:relative
}

.load-photo::after {
    content:"+";
    position:absolute;
    right:14px;
    font-size:28px;
    margin-top:2px;
    font-weight:600
}

.load-photo:focus {
    border:2px solid #e7c17f;
    outline:none;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
}

.block-editor .form-input {
    border:1px solid #7f7f83;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding:16.5px 18px
}

a.btn-center {margin:0 auto;}
button.btn-center {margin:0 auto;}

.row-editor {
    margin-top:30px
}

.table-reserve .date-news {
    font-size:23.7px
}
.table-reserve .cell-news {
    vertical-align:middle
}
.table-reserve .date-news {
    font-size:23.7px
}
.table-reserve .cell-news {
    vertical-align:middle
}

.block-news-archive {
    margin-top:35px
}
.block-news-archive .row {
    margin-bottom:30px
}
.block-news-archive .row:last-child {
    margin-bottom:40px
}
.block-news-archive .row .col-md-6 {
    width:100%;
    margin-bottom:30px
}
.block-news-archive .row,.block-news-archive .row:last-child {
    margin-bottom:0
}

.thumbnail-news,.thumbnail-news img,.orange-area {
    width:219px;
    height:219px
}

.orange-area {
    background-color:#d08400;
    margin-right:27px;
    position:relative;
    display:table
}

.info-table {
    text-align:center;
    color:#fff;
    font-size:39.95px;
    line-height:48px;
    border:2px solid #fff;
    border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    position:absolute;
    padding:41px 0;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:table-cell;
    vertical-align:middle;
    margin:19px;
    text-transform:uppercase
}

.info-table span {
    display:block
}

.cell-text-news {
    position:relative;
    width:100%
}

.table-hover:hover .table-news {
    opacity:.3
}
.table-news {
    width:100%
}

.table-news {
    position:relative;
    display:table;
    padding:8px 27px 8px 10px;
    border:1px solid #b2b2b4
}

.cell-news {
    display:table-cell;
    vertical-align:top
}

.table-reserve .cell-news {
    vertical-align:middle
}

.ul-reserve {
    list-style-type:none;
    padding-left:0;
    font-size:20px;
    margin-top:8px
}

.ul-reserve li {
    margin-bottom:0
}

.ul-reserve span {
    color:#d08400
}


@media (max-width: 400px) {
    .block-abs p {
        display: block;
        margin-bottom: 0;
        text-align: center
    }

    .social-for-news {
        position: inherit;
        margin: 0 auto 5px;
        right: inherit;
        display: table
    }

    .table-news {
        padding: 8px
    }
}


.table-hover:hover {
    background-color:rgba(41,50,65,0.9);
    position:relative
}

.table-hover:hover .table-news {
    opacity:.3
}

.link-review {
    display:none
}

.table-hover:hover .name-news,.table-hover:hover .thumbnail-middle {
    pointer-events:none
}

.table-hover:hover .link-review,.table-hover:active .link-review {
    background-image:url(../images/link.png);
    background-color:#e6e4e8;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    padding:20px;
    display:block;
    position:absolute;
    width:138px;
    height:138px;
    top:calc(50% - 72px);
    left:44px;
    bottom:0
}

.table-hover:hover:after {
    content:"Для перехода на отзыв нажмите кнопку";
    line-height:0;
    color:#fff;
    position:absolute;
    font-size:35px;
    left:258px;
    top:50%
}

.block-news-archive .row {margin-bottom:30px;}
.text-news {font-size:13.27px;line-height:19.96px;}
.name-news {font-size:23.7px;margin-top:0;margin-bottom:8px;color: #000;}
.name-news a {
    color:inherit
}
.date-news {
    font-size:15.17px;
    margin-bottom:0
}
#news-news_date {
    height: 54px;
}